<section class="bg-primary-50 py-12">
  <div class="mx-auto w-[86%] flex justify-around items-center">
    <div class="w-[44%]">
      <img src="assets/App img.jpg" alt="Mobile Application" />
    </div>
    <div class="w-[44%]">
      <h2 class="text-paragraph font-semibold text-primary-300">
        Mobile Application
      </h2>
      <h2 class="mt-2 mb-5 text-title2 font-semibold text-gray-900">
        Download our apps of your mobile phone for service
      </h2>
      <p class="text-body font-medium text-gray-700 mb-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy
      </p>
      <div class="flex items-center mb-5">
        <div
          class="rounded-full border-primary-300 border-2 w-[20px] h-[20px] mr-2"
        >
          <img src="assets/arrow.svg" alt="" />
        </div>
        <p class="text-body font-semibold">Lorem Ipsum is simply dummy</p>
      </div>

      <div class="flex items-center mb-5">
        <div
          class="rounded-full border-primary-300 border-2 w-[20px] h-[20px] mr-2"
        >
          <img src="assets/arrow.svg" alt="" />
        </div>
        <p class="text-body font-semibold">Lorem Ipsum is simply dummy of the printing</p>
      </div>

      <div class="flex items-center mb-5">
        <div
          class="rounded-full border-primary-300 border-2 w-[20px] h-[20px] mr-3"
        >
          <img src="assets/arrow.svg" alt="" />
        </div>
        <p class="text-body font-semibold">Lorem Ipsum is simply dummy</p>
      </div>

      <div class="flex mt-6 space-x-4">
        <a href="#"><img src="assets/Google icon.svg" alt="App Store" /></a>
        <a href="#"><img src="assets/IOS icon.svg" alt="Play Store" /></a>
      </div>
    </div>
  </div>
</section>
