<div class="mb-6 w-full bg-gray-20 p-4 rounded-lg flex items-center">
  <div class="mr-5">
    <div
      class="rounded-full bg-gray-40 w-[48px] h-[48px] flex items-center justify-center"
    >
      <img src="assets/bank.svg" alt="" />
    </div>
  </div>
  <div>
    <h2 class="text-body font-medium text-primary-300 mb-2">To</h2>
    <p class="text-paragraph font-semibold text-gray-700 mb-1">{{ name }}</p>
    <p class="text-body font-regular text-gray-100">
      Account {{ accountNumber }}
    </p>
  </div>
</div>
