<div class="fixed h-full w-full overflow-y-scroll bg-gray-0 left-0 top-0">
  <div class="flex items-center h-28 px-12">
    <p class="mr-auto text-small-title font-semibold text-gray-900">
      Speedo Transfer
    </p>
    <button
      class="text-gray-600 hover:text-gray-900 text-title2"
      (click)="ref.close()"
    >
      &times;
    </button>
  </div>

  <div class="text-center mb-8" *ngIf="ref.data">
    <p class="text-title2 font-semibold text-gray-900">Login</p>
    <p class="text-body font-regular text-gray-500">
      New Account? <a href="" class="font-medium">Sign Up</a>
    </p>
  </div>

  <div
    *ngIf="!ref.data"
    class="flex items-start p-5 mb-8 max-w-lg mx-auto bg-gray-40 rounded-md"
  >
    <img src="assets/alert.svg" alt="" class="w-20 mr-5 mt-1" />
    <div class="text-paragraph font-semibold text-gray-500 text-center">
      We Logged you out because you were inactive for 5 minutes - it's to help
      your account secure
    </div>
    <img
      (click)="hideAlert()"
      src="assets/cancel.svg"
      alt=""
      class="w-16 mt-1 cursor-pointer"
    />
  </div>

  <div class="rounded-lg shadow-lg p-8 max-w-lg mx-auto mb-28">
    <div class="flex justify-between items-center">
      <h2 class="text-small-title font-semibold mb-4 text-gray-900">
        @if(ref.data){ Login here } @else{ Welcome back }
      </h2>
    </div>
    <p class="text-body font-regular text-gray-500 mb-6">
      @if(ref.data){Welcome back.Login to your account} @else{ Login to your
      account}
    </p>
    <form
      class="text-body font-regular text-gray-700"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
    >
      <div class="mb-4">
        <label class="block mb-2"> Your Email address</label>
        <input
          type="email"
          formControlName="email"
          class="w-full p-3 border border-gray-70 rounded-md"
          placeholder="Email@gmail.com"
        />
        <div
          *ngIf="f['email'].touched && f['email'].invalid"
          class="text-red-500"
        >
          Valid email is required.
        </div>
      </div>
      <div class="mb-5">
        <label class="block mb-2">Password</label>
        <div class="relative">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            class="w-full px-3 py-2 border border-gray-70 rounded-md"
            placeholder="************"
          />
          <button
            type="button"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-600 mr-2"
            (click)="togglePasswordVisibility()"
          >
            <img
              [src]="
                hidePassword ? 'assets/Close-eye.svg' : 'assets/Open-eye.svg'
              "
              alt="Toggle Password Visibility"
            />
          </button>
        </div>
        <div
          *ngIf="f['password'].touched && f['password'].invalid"
          class="text-red-500 text-small-font font-regular"
        >
          <div *ngIf="f['password'].errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="f['password'].errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="f['password'].errors?.['pattern']">
            Password must contain upper and lower case letters, numbers, and
            symbols.
          </div>
        </div>
      </div>
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="w-full bg-primary-300 text-gray-0 text-body font-medium py-3 rounded-md transition"
        [ngClass]="{ 'hover:bg-primary-400': loginForm.valid }"
      >
        Login
      </button>
    </form>

    <p class="text-body font-regular text-gray-500 mt-4">
      Don’t have an account?
      <a href="#" class="text-primary-300 underline text-body font-medium ml-1"
        >Create Account</a
      >
    </p>
  </div>
  <div
    class="text-center bg-primary-50 text-gray-900 text-body font-medium py-4 end-0"
  >
    ©Speedo Transfer Payments Limited 2024
  </div>
</div>
