<div
  class="bg-cover bg-center bg-money w-full px-16 shadow-lg flex items-center justify-between h-[50vh]"
>
  <div>
    <h1 class="text-h3 font-semibold mb-2 text-gray-900">{{ pageTitle }}</h1>
    <nav class="text-body font-medium text-gray-700">
      <a routerLink="/">Home</a>
      <span class="mx-2">•</span>
      <span class="text-primary-300">{{ currentRoute }}</span>
    </nav>
  </div>
  <img
    src="assets/BreadcrumbVector.svg"
    alt="Money Transfer"
    class="max-w-[80%]"
  />
</div>