<section class="bg-gray-10 py-14">
  <div class="container mx-auto">
    <h2 class="text-paragraph font-semibold text-primary-300 text-center">
      Getting Started
    </h2>
    <p
      class="mt-2 mb-8 text-center text-title2 font-semibold text-gray-900 w-[42%] m-auto"
    >
      Lorem Ipsum is simply dummy text of the printing.
    </p>
    <div class="flex flex-wrap justify-center gap-3 mx-auto">
      <div class="w-[290px] p-5 bg-gray-0 shadow-lg rounded-lg">
        <div class="rounded-full bg-primary-50 p-7 w-[120px] mb-6">
          <img src="assets/CreateAccount.svg" alt="Create Account" />
        </div>
        <h3 class="mt-4 text-small-title2 font-semibold text-g-900 mb-3">
          <span class="text-primary-300">1.</span>Create Account
        </h3>
        <p class="text-body font-medium text-g-700">
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>

      <div class="w-[290px] p-5 bg-gray-0 shadow-lg rounded-lg">
        <div class="rounded-full bg-primary-50 p-7 w-[120px] mb-6">
          <img src="assets/Confirmation.svg" alt="Create Account" />
        </div>
        <h3 class="mt-4 text-small-title2 font-semibold text-g-900 mb-3">
          <span class="text-primary-300">2.</span>Confirmation
        </h3>
        <p class="text-body font-medium text-g-700">
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>

      <div class="w-[290px] p-5 bg-gray-0 shadow-lg rounded-lg">
        <div class="rounded-full bg-primary-50 p-7 w-[120px] mb-6">
          <img src="assets/Payment.svg" alt="Create Account" />
        </div>
        <h3 class="mt-4 text-small-title2 font-semibold text-g-900 mb-3">
          <span class="text-primary-300">3.</span>Payment
        </h3>
        <p class="text-body font-medium text-g-700">
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
    </div>
  </div>
</section>
