<div class="flex-1 px-8">
  <h1 class="text-small-title2 font-semibold mb-4">My Profile</h1>
  <div class="flex items-center mb-6">
    <span class="text-h1 font-semibold">{{ profileData?.balance }}EGP</span>
    <span class="text-primary-300 text-small-title font-semibold ml-2"
      >Balance</span
    >
  </div>
  <div class="grid grid-cols-6 gap-4 text-body">
    <div class="font-medium">First Name :</div>
    <div class="text-gray-300 font-regular col-span-5">
      {{ profileData?.name }}
    </div>
    <div class="font-medium">Email :</div>
    <div class="text-gray-600 font-regular col-span-5">
      {{ profileData?.username }}
    </div>
    <div class="font-medium">Phone :</div>
    <div class="text-gray-600 font-regular col-span-5">
      {{ profileData?.phoneNumber }}
    </div>
    <div class="font-medium">Gender :</div>
    <div class="text-gray-600 font-regular col-span-5">
    </div>

  </div>
</div>
