<footer class="bg-primary-500 pt-6">
  <div class="container mx-auto text-center">
    <p class="text-small-title font-semibold text-gray-0 mb-5">
      Speedo Transfer
    </p>
    <p class="text-body font-regular text-gray-10 mb-5">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <p class="font-bold text-paragraph text-gray-0 mb-5">Contact Info</p>
    <p class="text-body font-medium text-gray-10 mb-5">
      <a href="mailto:BM00000@SpeedoTransfer.com" class="font-regular"
        >Email: BM00000&#64;SpeedoTransfer.com</a
      >
    </p>
    <a href="tel:01224562398" class="text-gray-10 mb-12">Phone: 0000</a>
    <p
      class="text-gray-10 w-[80%] border-t-[1px] border-[#CDD6E04D] m-auto py-4"
    >
      All Rights Reserved for Speedo Transfer ©2024
    </p>
  </div>
</footer>
